<!DOCTYPE html>
<html>
<head>
  <title>TheVest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	
<%= yield %>
<br> <br>
<% if user_signed_in? %>
	 	<%= link_to "Logout", destroy_user_session_path(current_user), :method => :delete, data: { confirm: 'Are you sure you want to log out?' } %> 
	<% end %> 
</body>
</html>
